<script>
    // Set today's date as default when the page loads
    window.onload = function() {
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0');
        var yyyy = today.getFullYear();
        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById('due_date').value = today;
    }

    function showAddSubgroupForm(parentGroup) {
        const modal = document.getElementById('addSubgroupModal');
        const parentGroupInput = document.getElementById('parentGroupInput');
        parentGroupInput.value = parentGroup;
        modal.style.display = 'block';
    }

    function showAddGroupForm() {
        const modal = document.getElementById('addGroupModal');
        modal.style.display = 'block';
    }

    function showDeleteAllModal() {
        const modal = document.getElementById('deleteAllModal');
        modal.style.display = 'block';
    }

    function deleteAll() {
        fetch("{{ url_for('delete_all_tasks') }}", {
            method: 'POST'
        }).then(response => {
            if (response.ok) {
                window.location.reload();
            }
        });
    }

    function closeModal(modalId) {
        const modal = document.getElementById(modalId);
        modal.style.display = 'none';
    }

    // Close modal when clicking outside
    window.onclick = function(event) {
        if (event.target.classList.contains('modal')) {
            event.target.style.display = 'none';
        }
    }
</script>
